.header{
  grid-area: 1 / 1 / 2 / 7;
  background-color: lightgreen;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  img{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
}