.nav{
  grid-area: 2 / 1 / 3 / 2;
  background-color: lightgreen;
  margin-right: 10px;
  p{
    margin-left: 5px;
  }
  p:last-child{
    margin-top: 20px;
  }
}

.item{
  color: white;
}

.item.active{
  color: gold;
}