*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: georgian;
  font-size: 16px;
  padding: 5px;
  color: blue;
}

.head{
  font-size: 20px;
  width: 300px;
  margin: auto;
  background-color: bisque;
  color: green;
  display: flex;
  flex-direction: column;
}
