* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;

}


a {
  display: inline-block;
  color: white;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: azure;
  }
}

.app-wrapper {
  max-width: 1940px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 80px 95%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.app-wrapper-content {
  grid-area: 2 / 2 / 3 / 7;

  & img:first-child {
    height: 100px;
    margin-bottom: 10px;
  }
}
































